<h2 class="page-header">Search Directors</h2>
<form action="/directors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name ? searchOptions.name : '' %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="button button-primary" type="submit">Search</button>
    </div>
</form>
<br>
<% if(directors && directors.length > 0) { %>
    <% directors.forEach(director => { %>
        <div><%= director.name %></div>
        <div class="button-row">
            <a class="button button-primary" href="/directors/<%= director.id %>">View</a>
            <a class="button button-primary" href="/directors/<%= director.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm.ejs', { url: `/directors/${director.id}` }) %>
        </div>
    <% }) %>
<% } else { %>
    <p>No directors found</p>
<% } %>